*,
*:before,
*:after {
  box-sizing: border-box;
}

.calculator {
  display: flex;
  width: 430px;
  height: 430px;
}

#main-display {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 10  0px;
  align-items: flex-end;
  justify-content: end;
  border: solid black 1px;
  gap: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.display-screen{
  font-size: 25px;
}

.display-screen2{
  font-size: 15px;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
  width: 420px;
  gap: 10px;
}

.operator-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  width: 100px;
  height: 100px;
}

.operator{
  width: 100px;
  height: 100px;
}
